body{
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#header{
    width: 100%;
    background-color: #008800;
}
#heading{
    width: 50%;
    margin: auto;
    background-color: #008800;
    display: flex;
}
#heading h3{
    font-size: 25px;
}
#heading img{
    margin-top: 15px;
}
#text{
    line-height: 0.7;
    margin-left: 20px;
    color: white;
}
#container{
    width: 50%;
    margin:auto;
    background-color: #B10E1E;
    color: white;
    position: relative;
    text-indent: 50px;
    font-size: 22px;
    padding-top: 2px;
    padding-bottom: 10px;
    line-height: 0.2;
    animation-name: bounce;
    animation-duration: 1s;  
    animation-fill-mode: both;
}
@keyframes bounce {
    
    0% {top: -20px;}
    25% {top: 10px; }
    50% {top: 0px; }
    75% {top: 5px; }
    100% {top: 0px; }

  }

#container p{
    text-decoration: underline;
    font-size: 20px;
    line-height: 1;

}
#container i{
    margin-left: -90px;
    margin-right: 10px;
    font-size: 30px;
}
#container2{
    width: 50%;
    margin:auto;
    color: #2B8CC4;
    font-size: 22px;
    display: flex;
    border-bottom: 1px solid lightgrey;
}
#container2 h2{
    line-height: 0.4;
}
.section{
    width: 50%;
}
.container3{
    width: 50%;
    margin:auto;
}
.container3 > div{
    display: inline-flex
}
.container3 h1{
    font-size: 40px;
}
.container3 input{
    width: 100%;
    height: 40px;
    border: 2px solid black;
}
#search{
    width: 93%;
}
#square{

    width: 7%;
    background-color:#008800; 
    height: 32px;
    padding-top: 9px;
    margin-left: -4px;
}
#square i{
    margin-left: 10px;
    font-size: 20px;
    color: white;
}
#para{
    width: 50%;
    margin: auto;
    font-size: 20px;
    margin-top: 30px;
}
 a{
    color:#2B8CC4;
    font-size: 18px;
}
.head{
    font-weight:500;
    font-size: 18px;
}
.blue{
   color: #2B8CC4;
   font-weight: bold;
   font-size: 20px;

}
.grey{
    color: grey;
    font-size: 18px;

}
#container4{
    width: 50%;
    margin: auto;
    background-color: #008800;
    display: flex;
    padding: 5px 5px;
}
#h{
    margin-top: 5px;
    margin-left: 10px;
    font-size: 25px;
    font-weight: bold;
    color: white;
}
#container4 p{
    display: block;
    color: white;
    font-size: 22px;
    margin-top: 40px;
    margin-left: -130px;
}
#container5{
    width: 50%;
    margin: auto;
}
q{
    font-size: 25px;
}
.smallblue{
    color: #2B8CC4;
    font-size: 18px;
}
#container6{
    width: 50%;
    margin: auto;
    height: 350px;
    background-image: url(images/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
#logo{
    width: 100px;
    height: 60px;
    background-color: green;
    padding-bottom: 10px;
    position: absolute;
    bottom: 0;
}
#container6 i{
    color: white;
    font-size: 35px;
    margin-top: 20px;
    margin-left: 35px;
}
hr{
    margin-top: 20px;
    color:lightgrey;
}
.container3 button{
    width: 220px;
    border: 1px solid green;
    height: 50px;
    color: white;
    background-color:#008800; 
    font-size: 30px;
}
#container7{
    width: 100%;
    margin-top: 50px;
    background-color: #DEE0E2;
    border-top: 10px solid #008800; 
   
}
#contain{
    width: 50%;
    margin: auto;
    display: flex;
}
#footer{
    width: 60%;
}
#rightimg{
    width: 40%;

}
#rightimg img{
    margin-top: 30px;
    margin-right: 20px;
}
#rightimg i{
    margin-right: 5px;
    margin-left: 60px;
}